.navBar {
  display: flex;
  width: 100vw;
  height: 48px;

  &__headerLogoContainer {
    display: flex;
    width: 106px;
    height: 50px;
    background: #ce0295;
    background: -webkit-linear-gradient(to right, #ce0295, #e94057, #fe4225);
    background: linear-gradient(to right, #ce0295, #e94057, #fe4225);
  }

  &__headerLogo {
    margin: auto;
    width: 66px;
    height: 16px;
  }

  &__blackMenu {
    display: none;
  }

  &__yellowBar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 30px;
    background-color: #fd3;

    & .yelloyBarText {
      font-size: 10rem;
      padding-left: 15vw;
    }
  }

  &__menuBar {
    width: calc(100vw - 106px);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(226, 226, 226);
    margin: 5px;
    height: 48px;
    width: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .navBar {
    height: 80px;

    &__headerLogoContainer {
      height: 80px;
    }

    &__blackMenu {
      display: flex;
      align-items: center;
      width: calc(100vw - 106px);
      height: 32px;
      background-color: black;
      font-size: 13rem;

      & .--rightAlignFlex {
        display: none;
      }
    }
  }
  .inlineMenu {
    margin: 0 6px;
    display: flex;
    align-items: center;

    &__link {
      color: grey;
      margin: 0 6px;
    }
  }
  .yellowBarText {
    font-size: 15rem;
    padding-left: 8vw;
    color: #e94057;
    background-color: #ce0295;
  }
}

@media only screen and (min-width: 1050px) {
}
