header{
  position: fixed;
}

a{
  text-decoration: none;
}

.navBar {
  
  display: flex;
  width: 100vw;
  height: 50px;

  &__headerLogoContainer {
    display: flex;
    width: 106px;
    height: 50px;
    background: #ce0295;
    background: -webkit-linear-gradient(to right, #ce0295, #e94057, #fe4225);
    background: linear-gradient(to right, #ce0295, #e94057, #fe4225);
  }

  &__headerLogo {
    margin: auto;
    width: 66px;
    height: 16px;
  }

  &__blackMenu {
    display: none;
  }

  &__yellowBar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 30px;
    background-color: #fd3;
  }

  &__menuBar {
    width: calc(100vw - 106px);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(226, 226, 226);
    padding: 10px;
    height: 50px;
    width: 50px;
  }
}

.yellowBarText {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
}

@media only screen and (min-width: 768px) {
  .navBar {
    height: 80px;

    &__headerLogoContainer {
      height: 80px;
    }

    &__blackMenu {
      display: flex;
      align-items: center;
      width: calc(100vw - 106px);
      height: 32px;
      background-color: black;
      font-size: 13px;

      & .--rightAlignFlex {
        display: none;
      }
    }
  }
  .inlineMenu {
    margin: 0 6px;
    display: flex;
    align-items: center;

    &__link {
      color: grey;
      margin: 0 6px;
    }
  }
  .yellowBarText {
    font-size: 14px;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 1050px) {
}
