*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  position: fixed;
  background: white;
  z-index: 2;
}

a {
  text-decoration: none;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 50px;
}

.navBar__headerLogoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 106px;
  height: 50px;
  background: #ce0295;
  background: -webkit-gradient(linear, left top, right top, from(#ce0295), color-stop(#e94057), to(#fe4225));
  background: linear-gradient(to right, #ce0295, #e94057, #fe4225);
}

.navBar__headerLogo {
  margin: auto;
  width: 66px;
  height: 16px;
}

.navBar__blackMenu {
  display: none;
}

.navBar__yellowBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 30px;
  background-color: #fd3;
}

.navBar__menuBar {
  width: calc(100vw - 106px);
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navBar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #e2e2e2;
  padding: 10px;
  height: 50px;
  width: 50px;
}

.yellowBarText {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
}

@media only screen and (min-width: 768px) {
  .navBar {
    height: 80px;
  }
  .navBar__headerLogoContainer {
    height: 80px;
  }
  .navBar__blackMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100vw - 106px);
    height: 32px;
    background-color: black;
    font-size: 13px;
  }
  .navBar__blackMenu .--rightAlignFlex {
    display: none;
  }
  .inlineMenu {
    margin: 0 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inlineMenu__link {
    color: grey;
    margin: 0 6px;
  }
  .yellowBarText {
    font-size: 14px;
    padding-left: 60px;
  }
}

.coverContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cover-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 220px;
  background-image: url(./img/coverCardImg3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  position: relative;
}

.cover-card__layer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.3)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, black 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-card__layer:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(43, 43, 43, 0.3)), to(#141414));
  background: linear-gradient(to bottom, rgba(43, 43, 43, 0.3) 10%, #141414 100%);
  cursor: pointer;
}

.cover-card__category {
  z-index: 1;
  margin-left: 10;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-family: "Krub", sans-serif;
  text-shadow: 1px 0px 0px #969696;
}

.cover-card__title {
  z-index: 1;
  font-size: 20px;
  margin-left: 10;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
  text-shadow: 1px 0px 0px #969696;
}

.cover-card__info {
  z-index: 1;
  font-size: 12px;
  margin: 10px;
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover-card__icon {
  z-index: 1;
  margin: 0 5px;
}

.cover-card__link {
  z-index: 1;
  color: grey;
}

.cover-card__link:hover {
  z-index: 1;
  color: white;
}

.cover-card:first-child {
  background-image: url(./img/coverCardImg2.jpg);
}

.cover-card:last-child {
  background-image: url(./img/coverCardImg1.jpg);
}

.articlesList {
  margin: 50px 20px;
  color: #fe4225;
}

.articlesList__header {
  margin: 20px 0;
}

.articlesList__title {
  font-family: "Kanit", sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.articlesList__list {
  margin: 20px 0;
}

.articlesList__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.articlesList__link {
  display: block;
  color: #fe4225;
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
}

.articlesList__titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

.article__image {
  width: 75px;
  height: 75px;
}

.article__info {
  width: calc(100%-120px);
  height: 75px;
  padding: 0 0 10px 10px;
  font-weight: bold;
}

.article__author {
  display: block;
  font-weight: 400;
  color: grey;
  margin-top: 5px;
  font-size: 12px;
}

.startupsLists {
  margin: 20px 0;
}

.startup {
  height: 200px;
  width: 100%;
}

.startup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  color: black;
  margin-left: 10px;
  line-height: 25px;
  margin-top: 10px;
}

.startup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fe4225), color-stop(45%, #fe4225), color-stop(45%, #ffebe7), to(#ffebe7));
  background: linear-gradient(to bottom, #fe4225 0%, #fe4225 45%, #ffebe7 45%, #ffebe7 100%);
}

.startup__header > img {
  margin: 10px;
  width: 60px;
  height: 60px;
}

.startup .headerinfo {
  margin-left: 5px;
  margin-top: 15px;
  color: black;
}

.startup .headerinfo__title {
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.startup .headerinfo__amount {
  display: block;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.startup .headerinfo__source {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  color: gray;
}

main {
  padding-top: 80px;
}
/*# sourceMappingURL=main.css.map */